{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap.css' %}">
</head>
<body>
<div class="container">
    <h1>列表页面</h1>
<div class="form-group">
    <form action="" method="get">
    <input name="q" placeholder="搜素条件" class="form-control" type="text" style="display:inline-block;width:200px;">
    <button class="btn btn-primary"><span class="">搜索</span></button>
        </form>
</div>

{#    {% if  cl.list_filter %}#}
{#        {% for data_list in c1.get_list_filter %}#}
{#            <div>#}
{#                <a>全部：</a>#}
{#                {% for obj in data_list %}#}
{#                    <a href="{{ obj.pk }}">{{ obj }}</a>#}
{##}
{#                {% endfor %}#}
{##}
{#            </div>#}
{#        {% endfor %}#}
{##}
{#    {% endif %}#}

    {% if cl.show_add_btn %}
        <a class="btn btn-primary" href="{{ cl.add_url }}">添加</a>
    {% endif %}

    <table class=" table table-bordered">
        <thead>
        <tr>
            {% for foo in cl.head_list %}
                <td>{{ foo }}</td>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for foo in cl.body_list %}
            <tr>
{#            {{ foo }}#}
                {% for fo in  foo %}
                    <td>{{ fo }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

<nav aria-label="Page navigation">
  <ul class="pagination">
    {{ cl.page_obj.page_html|safe }}

  </ul>
</nav>
</div>
</body>
</html>