{% extends 'stark/layout.html' %}

    {% block css %}
        <style>
        .list-filter a{
            display: inline-block;
            padding:3px 5px;
            margin: 2px 1px;
            border: 1px solid #2b669a;

        }
        .list-filter a.active{
            background-color: #2b669a;
            color:white;
        }

    </style>
    {% endblock %}


{% block content %}
<div class="container">
{% block body %}
    <h1>列表页面</h1>
{% if cl.show_combe_fileter %}
<div class="list-filter">

    {% for foo in cl.gen_comb_filter %}
        <div>
            {% for item in foo %}
              {{ item }}
            {% endfor %}
        </div>
    {% endfor %}
</div>
{% endif %}


    {% if cl.show_search_form %}
        <div class="form-group "    style="float: right">
            <form action="" method="get">
                <input name="{{ cl.config.search_key }}" value="{{ cl.search_form_val }}" placeholder="搜素条件"
                       class="form-control" type="text"
                       style="display:inline-block;width:200px;">
                <button class="btn btn-primary"><span class="">搜索</span></button>
            </form>
        </div>
    {% endif %}
    {% if cl.show_add_btn %}
        <div style="margin-bottom:  5px">
        <a class="btn btn-primary" href="{{ cl.add_url }}">添加</a>
        </div>
    {% endif %}
    {% if cl.show_actions %}
        <form action="" method="post">
        {% csrf_token %}
        <div cladd="form-group">
            <select class="form-control" name='list_actions' style="display:inline-block;width:200px;">
                {% for item  in cl.modify_actions %}
                    <option value="{{ item.name }}">{{ item.text }}</option>
                {% endfor %}
            </select>
            <button class="btn btn-primary"><span class="">执行</span></button>

        </div>

    {% endif %}


    <table class=" table table-bordered">
        <thead>
        <tr>
            {% for foo in cl.head_list %}
                <td>{{ foo }}</td>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for foo in cl.body_list %}
            <tr>

                {% for fo in  foo %}
                    <td>{{ fo }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </form>

    <nav aria-label="Page navigation">
        <ul class="pagination">
            {{ cl.page_obj.page_html|safe }}

        </ul>
    </nav>
{% endblock %}

{% endblock %}

