{% extends 'stark/layout.html' %}
{% block content %}
<table class="table table-bordered">
<h2>公共客户资源</h2>
    <thread>
          <th>ID</th>
        <th>qq</th>
        <th>姓名</th>
        <th>性别</th>
        <th>抢单</th>

    </thread>
    <tbody>
    {% for foo in models_list %}
        <tr>
            <td>{{ foo.id }}</td>
            <td>{{foo.name  }}</td>
            <td>{{ foo.qq }}</td>
            <td>{{ foo.get_gender_display }}</td>
            <td><a href="/frank/crm/customer/{{  foo.id}}/competion/">抢单</a></td>
        </tr>

    {% endfor %}

    </tbody>
</table>
{% endblock %}

